<h4>Welcome {{ displayName}}</h4>
<nav>
  <a routerLink="/map-center" routerLinkActive="active">Map Center</a>
  <a routerLink="/google-map" routerLinkActive="active">Google Map</a>
  <a routerLink="/items" routerLinkActive="active">Items</a>
  <a routerLink="/admin" routerLinkActive="active">Admin</a>
  <a routerLink="/auth-center/sign-in" routerLinkActive="active">Auth Center</a>
  <a routerLink="/dom" routerLinkActive="active">Document Object Model</a>
  <a routerLink="/form" routerLinkActive="active">Form Event</a>
  <a routerLink="/array" routerLinkActive="active">Array Object</a>

  <a routerLink="/login" routerLinkActive="active">login</a>
  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
</nav>

<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>

<router-outlet name="popup"></router-outlet>